<!DOCTYPE html>
<html>
<head>	
	<!-- Bootstrap CDN LINK -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<title>Bootstrap Template </title>
<style>
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

</style>
</head>
<body>

<div class="container"> 
  <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#" style="font-size:25px; ">Project Name</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
          </div>
        </div>
      </header>
<hr>
</div>


<h3 class="text-center">Heading PQR</h3>

<div>
<div class="container mt-5">
	<img src="image/img1.jpeg">
	<img src="image/img4.jpeg"><br><br>
<button type="button" class="btn btn-primary">Back</button>
<button type="button" class="btn btn-primary">Next</button><br>
	<br><br>
  <br>

  <br>
  <br>

</div>
</div>



<!-- Footer -->
<footer style="background: black;" class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#">Project Name</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

    <script>
        function show() {
 
            /* Access image by id and change
            the display property to block*/
            document.getElementById('image')
                    .style.display = "block";
 
            document.getElementById('btnID')
                    .style.display = "none";
        }
    </script>

<script type="text/javascript">

    $(document).ready(function(){
    $('#option').on('change', function() {
      if ( this.value == '1')
      {
        $("#Co-ordinate").show();
      }
      else
      {
        $("#Co-ordinate").hide();
      }
    });
});

        $(document).ready(function(){
    $('#option').on('change', function() {
      if ( this.value == '0')
      {
        $("#Address").show();
      }
      else
      {
        $("#Address").hide();
      }
    });
});

</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>